#map { height: 100%; }

#btnContainer{
    position: absolute;
    top:20px;
    left: 100px;
    z-index: 1000;
}

.buttons{

    background-color: rgba(34, 243, 156, 0.904);
    color: rgb(6, 1, 1);
    height: 40px;
    width: 140px;
    font-size: 25px;

}